#root {
  position: relative;
}

.App {
  position: absolute;
  top: 0px;
  left: 0px;
  /* bottom: 0px;
  right: 0px; */
  text-align: center;
  padding: 10px;
  width: 300px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 1rem;
  margin: 0.5rem;
  color: white;
}

.pepper-label {
  color: white;
}

.pepper-checkbox {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
